{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Add Recipe</h2>

<div class="row card-panel">
    <form class="col s12" method=POST action="">
      
        
        <div class="row">
            <div class="input-field col s12">
                <textarea id="img_url" name="img_url" class="materialize-textarea"></textarea>
                <label for="img_url">Add image url</label>
            </div>

            <div class="input-field col s12">
                <textarea id="maltese_name" name="maltese_name" class="materialize-textarea"></textarea>
                <label for="maltese_name">Insert Maltese recipe name</label>
            </div>
            <div class="input-field col s12">
                <textarea id="english_name" name="english_name" class="materialize-textarea"></textarea>
                <label for="english_name">Insert English recipe Name</label>
            </div>

            <div class="input-field col s12">
                <select id="category_name" name="category_name" class="validate" required>
                  <option value="" disabled selected>Choose Category</option>
                  {% for category in categories %}
                  <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                  {% endfor %}

                </select>
                <label for="category_name">Meal Category</label>
              </div>

            <div class="input-field col s5">
                <textarea id="prep_time" name="prep_time" class="materialize-textarea"></textarea>
                <label for="prep_time">Prep time in mins</label>
            </div>

            <div class="input-field col s5 offset-s2">
                <textarea id="cook_time" name="cook_time" class="materialize-textarea"></textarea>
                <label for="cook_time">Cooking time in mins</label>
            </div>

            <div class="input-field col s3">
                <textarea id="amount" name="amount" class="materialize-textarea"></textarea>
                <label for="amount">Amount</label>
            </div>
            <div class="input-field col s3">
                <textarea id="unit" name="unit" class="materialize-textarea"></textarea>
                <label for="unit">Unit</label>
            </div>
            <div class="input-field col s6">
                <textarea id="ingredients" name="ingredients" class="materialize-textarea"></textarea>
                <label for="ingredients">Ingredient Name</label>
            </div>

            <div class="input-field col s12">
                <textarea id="method" name="method" class="materialize-textarea"></textarea>
                <label for="method">Recipe Instructions</label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" >Submit
               
              </button>
        </div>
    </form>
</div>

{% endblock %}