{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Add Recipe</h2>

<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="image_url" name="image_url" class="materialize-textarea" pattern="https?://.+"></textarea>
                <label for="image_url">Add image url</label>
            </div>

            <div class="input-field col s12">
                <textarea id="maltese_name" name="maltese_name" class="materialize-textarea"></textarea>
                <label for="maltese_name">Insert Maltese recipe name</label>
            </div>
            <div class="input-field col s12">
                <textarea id="english_name" name="english_name" class="materialize-textarea"></textarea>
                <label for="english_name">Insert English recipe Name</label>
            </div>

            <div class="input-field col s12">
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}

                </select>
                <label for="category_name">Meal Category</label>
            </div>

            <!-- dynamic form fileds with the help of https://bootstrapfriendly.com/blog/dynamically-add-or-remove-form-input-fields-using-jquery/ -->
            <div class="input-field col s5">
                <textarea id="prep_time" name="prep_time" class="materialize-textarea"></textarea>
                <label for="prep_time">Prep time in mins</label>
            </div>

            <div class="input-field col s5 offset-s2">
                <textarea id="cook_time" name="cook_time" class="materialize-textarea"></textarea>
                <label for="cook_time">Cooking time in mins</label>
            </div>

            <div class="row" id="inputIngredientRow">
                <div class="input-field col s10">
                    <textarea id="ingredients" name="ingredients" class="materialize-textarea"></textarea>
                    <label for="ingredients">Ingredients including amount and unit</label>
                </div>

                <div class="col s1">
                    <a class="btn" id="addIngredientRow"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>

            <div class="row" id="newIngredient"></div>

            <div class="input-field col s10" id="inputMethodRow">
                <textarea id="method" name="method" class="materialize-textarea"></textarea>
                <label for="method">Recipe Instructions</label>
            </div>
            <div class="col s1">
                <a class="btn" id="addMethodRow"><i class="fas fa-plus-circle"></i></a>
            </div>

            <div class="row" id="newMethod"></div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Submit

            </button>
        </div>
    </form>
</div>

{% endblock %}