{% extends "base.html" %}
{% block content %}

<h2 class="center-align">Edit Recipe</h2>

<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">


        <div class="row">
            <div class="input-field col s12">
                <textarea id="image_url" name="image_url" class="materialize-textarea">
                    {{- recipe.image_url -}}
                </textarea>
                <label for="image_url">Image Url</label>
            </div>

            <div class="input-field col s12">
                <textarea id="maltese_name" name="maltese_name" class="materialize-textarea">
                    {{- recipe.maltese_name -}}
                </textarea>
                <label for="maltese_name">Maltese recipe name</label>
            </div>
            <div class="input-field col s12">
                <textarea id="english_name" name="english_name" class="materialize-textarea">
                    {{- recipe.english_name -}}
                </textarea>
                <label for="english_name">English recipe Name</label>
            </div>

            <div class="input-field col s12">
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled>Choose Category</option>
                    {% for category in categories %}
                    {% if category.category_name == recipe.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}
                    {% endfor %}

                </select>
                <label for="category_name">Meal Category</label>
            </div>

            <div class="input-field col s5">
                <textarea id="prep_time" name="prep_time" class="materialize-textarea">
                    {{- recipe.prep_time -}}
                </textarea>
                <label for="prep_time">Prep time in mins</label>
            </div>

            <div class="input-field col s5 offset-s2">
                <textarea id="cook_time" name="cook_time" class="materialize-textarea">
                    {{- recipe.cook_time -}}
                </textarea>
                <label for="cook_time">Cooking time in mins</label>
            </div>

            {% for ingredient in ingredients %}

            <div class="row" id="inputIngredientRow">

                <div class="input-field col s10">
                    <textarea id="ingredient_{{loop.index}}" name="ingredients" class="materialize-textarea">
                        {{- ingredient -}}
                    </textarea>
                    <label for="ingredient_{{loop.index}}">Ingredient Name</label>
                </div>

                <div class="col s1">
                    <button class="btn" id="addIngredientRow"><i class="fas fa-plus-circle"></i></button>
                </div>
            </div>
            {% endfor %}
            <div class="row" id="newIngredient"></div>
            


            {% for methods in method %}
            <div class="input-field col s10" id="inputMethodRow">

                <textarea id="methods_{{loop.index}}" name="method" class="materialize-textarea">
                    {{- methods -}}
                </textarea>
                <label for="methods_{{loop.index}}">Recipe Instructions</label>

                <div class="col s1">
                    <a id="addMethodRow"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            {% endfor %}
            <div class="row" id="newMethod"></div>
            
        </div>
</div>

<div class="row">
    <button class="btn waves-effect waves-light" type="submit">Submit

    </button>
</div>
</form>
</div>

{% endblock %}