{% extends "base.html" %}
{% block content %}

<div class="row card-panel">

    <div class="row">

        <div class="col">
            <h2>{{ recipe.maltese_name }} </h2>
            <h2> {{ recipe.english_name }}</h2>
        </div>

    </div>

    <div class="row">

        <div class="col s12 l6">
            <img src="{{ recipe.image_url}}">
        </div>

        <div class="col s12 l6">

            <h4> Ingredients </h4>
            {% for ingredient in ingredients %}
            <li> {{ ingredient }} </li>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col s12">
        <h4> Method </h4>
        {% for prep in method %}
        <li>
            {{ prep }}
        </li>
    </div>
        {% endfor %}
    </div>

</div>

{% endblock %}