{% extends "base.html" %}
{% block content %}

<div class="row">
  {% for recipe in my_recipes %}

  <a href="{{ url_for('ind_recipe', recipe_id=recipe._id) }}">
    <div class="col s12 m4">

      <div class="card hoverable">

        <div class="card-image">
          <img src="{{ recipe.image_url}}"">
        </div>
     
      

      <div class="card-content center-align">
          <div class="row">

            <span class="card-title">{{ recipe.maltese_name }}</span>
            <span class="card-title">{{ recipe.english_name }}</span>

            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class=" btn"><i class="fas fa-edit"></i></a>
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class=" btn"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </a>

  {% endfor %}
</div>

{% endblock %}