
{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.image_url}}<br>
        {{ recipe.maltese_name }}<br>
        {{ recipe.english_name }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.serving }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
        {{ recipe.username }}<br>
        {{ recipe.copied_from }}<br>
    {% endfor %}

{% endblock %}