{% extends "base.html" %}
{% block content %}



  <form action="{{url_for('search')}}" method="POST" class="col s12">
    <div class="row search">
      <div class="input-field col s12 m8">
        <input type="text" name="query" id="query">
        <label for="query">Search Recipes</label>
      </div>
      <div class="col s12 m4 search_buttons">
        <a href="{{ url_for('all_recipes') }}" class="btn-small">Reset</a>
        <button type="submit" class="btn-small">Search</button>
    </div>
    </div>
  </form>


<div class="row">
  {% for recipe in recipes %}
  <a href="{{ url_for('ind_recipe', recipe_id=recipe._id) }}">
  <div class="col s12 m4">
    
    <div class="card hoverable">

      <div class="card-image">
        <img src="{{ recipe.image_url }}">
            
      </div>

      <div class=" card-content">

        <span class="card-title">{{ recipe.maltese_name }}</span>
        <span class="card-title">{{ recipe.english_name }}</span>

      </div>

    </div>
    
  </div>
</a>
  {% endfor %}

</div>

{% endblock %}